@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.data {
    display: none;
}

.g-signin2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

body {
    background-color: #f5f5f5;
}

header {
    width: auto;
}

#home {
    display: none;
}

.signup-form {
    display: none;
}

.form-container.active .signup-form {
    display: block;
}

.form-container.active .login-form {
    display: none;
}

.login-form img,.signup-form img {
    width: 100%;
}

  /* CUSTOMIZE THE HEADER
  -------------------------------------------------- */

  .navbar-brand {
    font-family: 'Cedarville Cursive', cursive;
    font-size: xx-large;
}

  .navbar {
    background-color: peru;
}

  .button {
    background: none;
    border: none;
    font-weight: normal;
    font-style: normal;
}